/* css file for the headTail website */

/* Header with photo background */

header {
	height: 300px;
    width:100%;
    background-image:url("../images/backgroundHeaderimage.jpg");
    background-position: 50% 50%;
  	background-size: cover;
}
#hTHeader{
	font-family: 'Changa One', Impact, sans-serif;
  	font-style: normal;
  	font-weight: 600;
  	text-align: center;
  	text-decoration: none;
  	font-size: 25px;
  	padding: 4px;
}

.hTbody {
	 border: 2px solid;
	 margin: 5%;
}

#mapCanvas {
	width: 500px;
	height: 400px;
}