/* css file for the headTail website */

/* Header with photo background */


header {
	height: 300px;
    width:100%;
    background-image:url("../images/backgroundHeaderimage.jpg");
    background-position: 50% 50%;
  	background-size: cover;
}

#hTHeader{
  /*font-family: 'Changa One', Impact, sans-serif;*/
  font-family: 'Great Vibes', cursive;
  font-style: italic;
    /*font-style: normal;*/
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    padding: 4px;
    text-shadow: 2px 2px #FFFFFF;
}

.hTbody {
	border: 2px solid;
	margin: 5%;
    font-family: 'Gentium Basic', Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 10px;
}

ul {
    list-style-type: none;
}

#mapCanvas {
	width: 500px;
	height: 400px;
    margin-bottom: 2%;
}

Footer {
    font-family: 'Gentium Basic', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}